# Python bytecode files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# Pytest
.cache/

# Coverage reports
.coverage
.coverage.*

# dotenv
.env
.env.*

# VS Code settings
.vscode/

# PyCharm
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# PrusaSlicer Python egg-info
prusaslicer_py.egg-info/

# Python wheels
*.whl

# Cython build
build/
dist/

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec

# JetBrains IDE files
.idea/

# Sublime Text project files
*.sublime-project
*.sublime-workspace

# MacOS Finder files
._*

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Ignore the output directory
output/